<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kkl.kklplus.provider.rpt.mapper.CustomerInfoMappingMapper">

    <select id="getCustomerInfoMappingFromWebDB" resultType="com.kkl.kklplus.provider.rpt.entity.CustomerInfoEntity">
        SELECT
              customer_id,
              vip_flag
        FROM md_customer_info_1
        LIMIT 200000
    </select>

    <insert id="insert" parameterType="com.kkl.kklplus.provider.rpt.entity.CustomerInfoEntity">
        INSERT INTO rpt_md_customer_info_${quarter}
        (
            system_id,
            customer_id,
            vip_flag
        )
        VALUES
        (
            #{systemId},
            #{customerId},
            #{vipFlag}
        )
    </insert>

    <delete id="deleteCustomerInfoMappings">
        DELETE FROM rpt_md_customer_info_${quarter}
        WHERE system_id = #{systemId}
    </delete>

</mapper>